.subcontainer {
  display: flex;
  column-gap: 100px;
  justify-content: center;
}

.image {
  height: 200px;
  width: 153px;
  object-fit: cover;
}
.text {
  margin-bottom: 20px;
}
.text:last-child {
  margin-bottom: 0;
}
