body {
  background-color: rgb(252, 248, 243);
}

.main-container {
  display: flex;
  position: relative;
  flex-direction: column;
  /* width: 95vw;
  height: 95vh; */
  align-items: center;
  row-gap: 10px;
  top: -8px;
}

.header {
  display: flex;
  justify-content: center;
  background-color: blueviolet;
  border-radius: 0 0 10px 10px;
}

.head-button {
  padding: 20px;
  cursor: pointer;
  color: aliceblue;
}

.head-button:hover {
  opacity: 70%;
}

a.nostyle:link {
  text-decoration: inherit;
  color: inherit;
  cursor: auto;
  cursor: pointer;
}

a.nostyle:visited {
  text-decoration: inherit;
  color: inherit;
  cursor: auto;
  cursor: pointer;
}

.title {
  font-size: 18px;
  /* line-height: 15px; */
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
}

.container {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  width: 700px;
  box-shadow: 0 0 5px black;
  padding: 10px;
  border-radius: 10px;
  /* line-height: 15px; */
}

h1 {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
  margin-bottom: 10px;
  text-align: center;
}

.more-btn {
  padding: 8px 20px;
  background-color: coral;
  color: antiquewhite;
  outline: none;
  border: none;
  border-radius: 5px;
}

.more-btn:hover {
  background-color: rgba(255, 127, 80, 0.8);
  cursor: pointer;
}

.disc-picture {
  height: 200px;
  width: 100%;
  object-fit: cover;
}
